body{
    font-family: sans-serif;
    margin: 0%;
    background-image: url(cherry.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;

}
header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: greenyellow;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 75px;
    margin-right: 10px;
}
nav{
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.nav-link{
    background-color: rgb(86, 184, 151); /*color de fondo del elemento*/
color: black; /*color de la letra*/
padding: 12px; /*separa el texto junto*/
text-decoration: none; /*elimina la decoracion que tiene el texto*/
margin-bottom: 50px; /*establece el espacio requerido en la parte inferior de un elemento*/
text-align: center; /*centra el texto*/
font-family: Georgia, 'Times New Roman', Times, serif;  /*cambia la letra(puedes usar hasta 3 tipos de letra si falla una)*/
}
.naranja h3{
    color: orangered;
    font-family: cursive;
    font-size: 20px;
}
.naranja p{
    color: rgb(0, 0, 0);
    font-size: 17px;
}
.naranja{
    padding: 10px;
    border: 5px solid yellow;
    width: 300px;
    background-image: url(nectar.jpg);
}
.limon h3{
    color: rgb(123, 255, 0);
    font-family: cursive;
    font-size: 20px;
}
.limon p{
    color: rgb(0, 0, 0);
    font-size: 17px;
}
.limon{
    padding: 10px;
    border: 5px solid rgb(16, 124, 1);
    width: 300px;
    background-image: url(limon.jpg);
}
.guayaba h3{
    color: rgb(197, 52, 190);
    font-family: cursive;
    font-size: 20px;
}
.guayaba p{
    color: rgb(0, 0, 0);
    font-size: 17px;
}
.guayaba{
    padding: 10px;
    border: 5px solid rgb(255, 0, 234);
    width: 300px;
    background-image: url(guataba.jpg);
}
.mango h3{
    color: rgb(255, 238, 0);
    font-family: cursive;
    font-size: 20px;
}
.mango p{
    color: #000000;
    font-size: 17px;
}
.mango{
    padding: 10px;
    border: 5px solid rgba(255, 255, 0, 0.644);
    width: 300px;
    background-image: url(mango.jpg);
}
.foot p{
    width: 700px;
    color: aqua;
}